<div class="row">

    <div class="col-md-12">
        <h1 style="padding-top:30px; padding-bottom:0px;">Publish/Subscribe to <span class="highlightLetter">Components</span></h1>
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        <table class='table'>
            <thead>
                <tr>

                    <th>Name</th>
                    <th>Age</th>                
                </tr>
            </thead>

            <tbody>
                {{#rows:i}}
                <tr>
                    <td>{{name}}</td>
                    <td>{{age}}</td>
                    <td>
                        <button class="btn btn-danger" on-click="remove(id, i)">Remove</button>
                    </td>

                </tr>


                {{/rows}}
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        <button class="btn btn-success" on-click="add({name: 'Default', age: 10})">Add row</button>
    </div>
</div>
