<div class="container">
    <div class="row">

        <div class="col-md-12">
            <h1 style="padding-top:30px; padding-bottom:0px;">Multiple <span class="highlightLetter">Components</span></h1>
        </div>
    </div>

    <div class="row">

        <div class="col-md-12">
            <p>This demo shows how to switch between multiple components.</p>

            <p>It is rather simple, as Ractive does all the heavy lifting.
            </p>
            <p>Below are two components in action. Click the buttons to switch between the components.</p>

            <p>            
            {{#if componentName == 'A'}}
                <compA/>
            {{else}}
                <compB/>
            {{/if}}
            
            </p>
            
            <p>
            <button class="btn btn-success" on-click="set('componentName', 'A')">Render Component A</button>
            
            <button class="btn btn-danger" on-click="set('componentName', 'B')">Render Component B</button>
            </p>
            
        </div>
    </div>

    <div class="row">

        <div class="col-md-12">
            <p>All we do is put the two components in a <span class="var">conditional mustacache</span>
                and Ractive will switch between the two components.
            </p>
            <p>Below is the Javascript:</p>

            <pre><code  class="line-numbers language-js"> function createView(data) {
            
            var compA = ractive.extend({
                template: '&lt;div class="comp">I am component A&lt;/div>'
            });
            
            var compB = ractive.extend({
                template: '&lt;div class="comp compB">I am component B&lt;/div>'
            });

            var view = new template({

                components: {
                    compA: compA,
                    compB: compB
                },
                
                data: {
                    componentName: 'A'
                }
            });

            return view;
        }</code></pre>
            
            <p>We create two components, <span class="fun">compA</span> and <span class="fun">compB</span>
                in <span class="ln">lines 3 & 7</span> respectively.                
            </p>
            <p>In <span class="ln">lines 14 & 15</span> we register the two components with
                the view.
            </p>
            <p><span class="ln">Line 19</span> sets the <span class="var">componentName</span>
                data variable to <span class="var">'A'</span>.
            </p>
            
            <p>Below is the html template:</p>
            
            <pre><code  class="line-numbers language-markup">\{{#if componentName == 'A'}}
    &lt;compA/>
\{{else}}
    &lt;compB/>
\{{/if}}

&lt;button on-click="set('componentName', 'A')">Render Component A&lt;/button>
            
&lt;button on-click="set('componentName', 'B')">Render Component B&lt;/button>
</code></pre>
            <p>In <span class="ln">line 1</span> we use a conditional statement to
                check the value of <span class="var">componentName</span>.
                
            <p><span class="ln">Line 2</span> we render <span class="var">compA</span>
                otherwise in <span class="ln">line 4</span> we render <span class="var">compB</span>.
            </p>
            
            <p><span class="ln">Line 7 & 9</span> shows two buttons, that when clicked
                <span class="fun">sets</span> the value of the <span class="var">componentName</span>
                variable to either <span class="var">'A'</span> or <span class="var">'B'</span>.
            <p>Changing the value of the <span class="var">componentName</span> variable
                will render either <span class="var">compA</span> or <span class="var">compB</span>.
            </p>
      

        </div>
    </div>
</div>