<div class="container">
    <div class="row">

        <div class="col-md-12">
            <h1 style="padding-top:30px; padding-bottom:0px;">Navigation <span class="highlightLetter">Demos</span></h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <a href="#" on-click="goto('navTargetParams', {'id': 1, 'name': 'Bob'}, {'myargs': ['one', 'two', 'three']})">Navigate Programmatically (passing arguments and parameters)</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <a href="#nav-target">Navigate Declaratively</a>
        </div>
    </div>
    
</div>