<div class="container" >

    <div class="row">

        <div class="col-md-12" intro-outro='fade'>
            <h1 style="padding-top:30px; padding-bottom:0px;">Basic <span class="highlightLetter">Transition (fade)</span></h1>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            
            <button type="button" class="btn btn-success"  on-click="loadView()">Test view</button> (this will reload the current view!)           
        </div>

    </div>
</div>
