<div class="container" intro-outro='fade'>

    <div class="row">

        <div class="col-md-12">
            <h1 style="padding-top:30px; padding-bottom:0px;">Basic <span class="highlightLetter">View</span></h1>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <p>Views in Kudu are implemented as AMD modules that must return a <span class="fun">Controller</span></p>

            <p><span class="fun">Controllers</span> are plain Javascript objects but must implement an <span class="met">onInit</span> method that returns a
                <a href='http://ractivejs.org' target='_blank' class='link'>Ractive</a>
                instance. <span class="ln">Ractive</span> is a library that binds HTML templates to data objects. To get started
                with Ractive see  <a href='http://docs.ractivejs.org/latest/get-started' target='_blank' class='link'>here</a>. A tutorial on Ractive is
                available <a href='http://learn.ractivejs.org' target='_blank' class='link'>here</a>.
            </p>
            <p>Controllers have an associated HTML template, which are <a href="https://mustache.github.io/" target="_blank" class="link">mustache</a> based.
                Mustache is a logicless templating engine, and Ractive has great support for binding mustaches to data variables.
            </p>
            <p>
                Let's look at our first Kudu Controller below, <em class="ln">basic.js</em>:
            </p>

            <pre><code  class="line-numbers language-js">define(function (require) { // A normal AMD define declaration

	var template = require("rvc!./basic"); // Import the Controller's HTML template, basic.html

	// Our controller object
	var basicCtrl = {};

	// We add the required onInit method that returns a Ractive view instance
	basicCtrl.onInit = function (options) {

		return new template(); // We create and return a new Ractive view from the template
	};

	return basicCtrl;
}); </code></pre>

            <p>In <span class="ln">line 3</span>, we use the <span class="var">rvc</span> plugin to load and compile the <em>view.html</em> template. The result of this plugin
                is a fully compiled Ractive object that can be instantiated using <em>new</em>.
            </p>
            <p>In <span class="ln">line 9</span> we implement the <strong>required</strong> <em>onInit</em> method that must return a Ractive view instance.
            </p>

            <p>In <span class="ln">line 11</span>, we create a and return a new Ractive view instance from the compiled template from
                <span class="ln">line 3</span>.
            </p>

            <p>That's it, a basic Kudu view! Test it below!
            </p>

            <button type="button" class="btn btn-success"  on-click="loadView()">Test view</button> (this will reload the current view!)

            <p>Use the menus above to explore other examples and features provided by Kudu.

            </p>

        </div>

    </div>
</div>
