<div class="container">
    <div class="row">

        <div class="col-md-12">

            
            <h1 style="padding-top:30px; padding-bottom:0px;"><span id="home-welcome" class="animated bounceInLeft">Welcome to Kudu</span> <span id="home-demo" class="animated highlightLetter invisible">Demos</span></h1>

            <div class="animated bounceInUp" id="home-content">
                <p>Kudu is a small MVC micro-framework that can be learned in a couple of hours. Documentation is available
                    <a href="https://github.com/kudujs/kudu" class="link" target="_blank">here</a>.</p>
                <p>Kudu combines the best of breed libraries (
                    <a href='http://ractivejs.org' target='_blank' class='link'>Ractive</a>,
                    <a href='http://requirejs.org/' target='_blank' class='link'>RequireJS</a>) 
                    to create a productive environment for writing single-page applications.</p>
                <button type="button" class="search btn btn-success"  on-click="start()"><i class="icon-search"></i> Let's start</button>
            </div>
        </div>

    </div>
</div>